<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div id="content" class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-header">
                        <h2>Input your code here</h2>
                    </div>
                    <textarea name="code_input" id="code_input" class="form-control" rows="20"></textarea>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="page-header">
                        <h2>Feedback</h2>
                    </div>
                    <divider class="section_divider"/>
                    <div id="feedback"></div>
                </div>                
            </div>
        </div>
    </body>
</html>